<div class="interactive-wrapper">
	<div class="gia">
		<div class="wrapper">
			<div class="nav-wrapper">
				<div class="nav-episodes">

					<div class="mini-title">
						Victorian election 2018:<br>
						On the ground in <strong>Brunswick</strong>
					</div>

					<div id="victorin-election-nav">

						<div class="nav-episode available selected">
							<div class="nav-episode-header">
								<span class="nav-episode-number">Part 1</span> <span class="nav-episode-title">The changing face of the progressive vote</span>
							</div>
						</div>

						<div class="nav-episode available">
							<div class="nav-episode-header">
								<span class="nav-episode-number">Part 2</span> <span class="nav-episode-title">Coming soon</span>
							</div>
						</div>

						<div class="nav-episode available">
							<div class="nav-episode-header">
								<span class="nav-episode-number">Part 3</span> <span class="nav-episode-title">Coming soon</span>
							</div>
						</div>

					</div>

				</div>
			</div>

			<div class="gia-content">

				<div class="hero-image brunswick_1_1">
					
					<div class="headline-title">
						<div class="headline-title2">
							<div class="partnership-headline">
								Brunswick 
							</div>
							<div class="partnership-headline-sub">
								The changing face of the progressive vote
							</div>
						</div>
					</div>

				</div>

				<div class="gia-content-section">
					<p><strong>If the inner-Melbourne seat of Brunswick turns Green on 24 November, it could push Daniel Andrews into minority government. But Luke Henriques-Gomes discovers an intensely tribal seat that is not easy to call. He will return later in the campaign to take its pulse again</strong></p>
				</div>

				<div class="gia-content-section">

					<p class="share-buttons">
						<button class="interactive-share" data-network="facebook"></button> 
						<button class="interactive-share" data-network="twitter"></button> 
					</p>


					<div class="gia-byline">by Luke Henriques-Gomes, Mike Bowers</div>

					<p><span class="gia-drop-cap">T</span>o understand what’s been happening in Brunswick, you could do worse than take a tram ride along one of the main roads that lead there from the centre of Melbourne: Nicholson Street and Lygon Street, or Sydney Road.</p>

					<p>If it’s peak hour, the tram will probably be packed. A hoard of cyclists will rattle past – the popular bike path down by the rail line is undergoing construction, so, in the meantime, many more people than usual are chancing their arm on Sydney Road, one of Melbourne’s worst cycling blackspots.</p> 

					<p>Heading north away from the city, as the number 19 tram starts a slight incline, the scene starts to change.</p> 

				</div>

				<div class="electorater-interactive-full">
					<div class="electorate__glancer">
						<div class="electorate__glancer_span">
							<h2>Brunswick at a glance</h2>
						</div>

						<div class="electorate__glancer_section">
							
							<div class="electorate__map">
								<img src="<%= path %>/assets/brunswick_map.png">
							</div>	

						</div>

						<div class="electorate__glancer_section">
							
							<h4>Sitting member</h4>
							<p>Sitting member: Jane Garrett, ALP, 2.22% margin. <br/>(Elected in 2010, seeking an upper house seat)</p>

							<h4>Profile</h4>
							<p>A once working class area about 5km of Melbourne, gentrification fuelled by an apartments boom has seen the Greens vote increase rapidly since 2002. Established in 1902, it has only ever been held by Labor. Covers Brunswick, Brunswick East, Brunswick West, Coburg, Pascoe Vale South, Fitzroy North and Parkville.</p>

							<!--h4>Voting history</h4>
							<p>Established in 1992 and held for the first 10 years by Liberal MP Gary Rowe.</p-->

						</div>

						<div class="electorate__glancer_section">
							
							<h4>By the numbers</h4>

							<p><strong>62%</strong> of residents born in Australia, compared to <strong>65%</strong> Victoria-wide.</p>

							<p>The most common responses for religion in the census were No Religion - <strong>45.2%</strong></p>

							<p>The median age <strong>33</strong> is below the state median of <strong>37</strong></p>

							<p>Median weekly family incomes are also higher, at <strong>$2,140</strong>, than the state figure of <strong>$1,715</strong></p>

							<p><strong>44.0%</strong> of people have a bachelor degree or higher, compared with <strong>24.3%</strong> Victoria-wide.</p>

							<p><strong>10.2%</strong> of residents commuted to work by bike, 10 times the state average, while <strong>37.5%</strong> travel by car, much lower than the <<strong>61.8%</strong> who do so across Victoria</p>

						</div>

					</div>
				</div>

				<div class="gia-content-section">

					<p>Bars and vintage clothes shops give way to cut-price barbers and Middle Eastern bridal boutiques, while the furniture in the window at Franco Cozzo (soon to be developed into apartments) would be louder than any of the live bands plying their trade near the bottom of the hill.</p> 

					<p>At A1 Bakery, a popular Lebanese haunt, old and new Brunswick collide. Elderly migrants, cash-strapped uni students and hipsters pushing prams all united by a simple joy: hummus.</p> 

					<p>There, George Traklis, 80, grumbles about the increasing congestion on the roads.</p> 

					<div class="gallery1">
						<div class="brunswick_1_2"></div>
					</div>

					<div class="gia-caption">
						 George Traklis, enjoying a coffee in the A1 Bakery, says congestion is his biggest election issue. Photograph by Mike Bowers
					</div>

					<p>“What the state government is doing, I don’t like it,” says Traklis, a migrant who has lived in Brunswick for decades. “You have your own car and you want to go from A to B and you can’t do it.”</p> 

					<p>The former bus driver has “always voted Labor … probably because I was a labourer”. Happy or not, looking ahead to Victoria’s November state election, he doesn’t expect to change course now. Told the Greens might win here for the first time, Traklis says only “wow”.</p> 

					<p>While Brunswick won’t decide which party holds power at Spring Street after 24 November, a Greens win could push the premier, Daniel Andrews, into minority government.</p> 

					<div class="voxpop_container">
						<div id="vox_widget">
							<iframe src="https://interactive.guim.co.uk/embed/iframeable/2018/10/election-voxbox/html/index.html?key=1WzaGNqtvobZ73bpg69_NbeAiWObC7U4zuvUWXc_-Ax8" width="100%" scrolling="no" unsafe-inline></iframe>
						</div>
					</div>

					<div class="subhead">
						<h2>Greens on the march</h2> 
					</div>

					<p>On election night, as most eyes focus on the sandbelt seats in Melbourne’s south-east, Brunswick will offer up answers to a different set of important questions.</p> 


					<p>First, can an unashamedly progressive Labor government halt the Greens’ march in the inner city? And also: how many voters like Traklis still live in Brunswick? And how many are more like Amy McGown and Terry McLeod?</p> 

					<p>Sitting in the beer garden of the Brunswick Green, where you can hear live jazz music most nights, they confess a slight ignorance about state politics. But they’re not politically apathetic.</p> 

					<p>Social worker McGown, 31, says her top election issue is the environment. McLeod, who is a teacher, was inspired by the politics of Jeremy Corbyn and Bernie Sanders when he lived in the UK and US.</p> 

					<p>He likes the look of Labor’s plans for a $50bn suburban rail loop, while she says “the bits and pieces I do see on Facebook seem all right from Daniel Andrews”.</p> 

					<p>Asked if Labor could do anything to win their vote, both are sheepish. “They represent what I believe in,” McLeod, 34, says of the Greens. Their friends feel the same way.</p> 

					<p>The Greens’ candidate, Tim Read, openly acknowledges his chances of victory are boosted by the “tailwind of demographics”. Yet the question of why those changes help him is a hotly contested one.</p> 

					<div class="inline-image right">
						<div class="brunswick_1_3"></div>

						Riding on the 'tailwind of demographics'? Greens candidate Tim Read on Sydney Road in Brunswick. Photograph by Mike Bowers.
					</div>

					<p>“So if you read the Age, it’s due to rising house prices,” he says. “I think that’s part of it. But the houses themselves don’t queue up to vote. If it was just the rising house prices, we’d have won [the affluent bayside seat of] Brighton a long time ago. There’s got to be something more to it.”</p> 

					<p>Labor’s candidate, Cindy O’Connor, doesn’t shy away from that reality either. “I think everyone in Brunswick is interested in progressive issues,” she says. “I would say there are a lot undecided people in the area. People will grill me and question me, whichever political group you’re from. I don’t think that’s changed. Now it’s about what that means at the ballot box.”</p> 

					<p>Once upon a time, in 2002, Labor won Brunswick with 52% of first preference votes. At the last election, the Greens beat Labor on the first count 40%-38%, but fell behind after 16.2% of Liberal preferences were distributed. The Liberals are yet to confirm if they will run, but appear unlikely to stand – a decision that would help the Greens.</p> 

					<p>Read, who ran in 2014, now needs a swing of 2.2% to win a seat Labor has held since 1904. Labor strategists will say only that they expect to be competitive, pointing to the government’s progressive record on social policy, including its historic moves to <a href="/society/2017/oct/20/assisted-dying-victoria-votes-to-approve-voluntary-euthanasia-bill" data-link-name="in body link" class="u-underline">legalise voluntary assisted dying</a>, a royal commission into family violence and creating <a href="/australia-news/2018/sep/16/its-saving-lives-community-rallies-to-support-melbournes-drug-injecting-room" data-link-name="in body link" class="u-underline">Melbourne’s first safe drug-injecting room</a>. Last week, Labor promised it would hold a royal commission into mental health services.</p> 


					<div class="subhead">
						<aside class="interactive-pullquote">
							<span class="inline-garnett-quote inline-icon"><svg class="inline-garnett-quote__svg inline-icon__svg" height="49" viewbox="0 0 35 25" width="70">
							<path d="M69.587.9c-1.842 15.556-3.89 31.316-4.708 48.1H37.043c3.07-16.784 8.391-32.544 17.602-48.1h14.942zM32.949.9c-2.047 15.556-4.094 31.316-4.912 48.1H.2C3.066 32.216 8.592 16.456 17.598.9h15.35z"></path></svg></span>
							<blockquote>
								<p class="pullquote-paragraph">Everyone in Brunswick is interested in progressive issues</p>
								<footer>
									<cite class="pullquote-cite">Cindy O'Connor</cite>
								</footer>
							</blockquote>
						</aside>
					</div>

					<p>They also confess that – as with the Greens’<a href="/australia-news/2017/nov/19/northcote-byelection-greens-lidia-thorpe-takes-melbourne-seat-from-labor" data-link-name="in body link" class="u-underline"> surprise byelection romp in Northcote last year</a> or Labor’s subsequent win in the federal equivalent, Batman – inner-city seats like Brunswick can be near impossible to predict.</p> 

					<p>To complicate matters further, the local member, Jane Garrett, has ditched Brunswick to seek a spot in the upper house amid a bruising dispute with the firefighters union.</p>

					<p>The former government minister was considered a popular local MP with statewide profile. She briefly flirted with a run at lord mayor of Melbourne.</p> 

					<p>And O’Connor was only preselected after Garrett’s first replacement, Ged Kearney, was successfully deployed to Batman.</p> 

					<div class="gallery1">
						<div class="brunswick_1_4"></div>
					</div>

					<div class="gia-caption">
						A tram pulls up on Sydney Road, Brunswick, which is feeling the same population pressures as other parts of Melbourne. From 2011-16, the electorate gained more than 9,000 residents and 5,000 homes. Photograph by Mike Bowers.
					</div>

					<div class="subhead">
						<h2>Population strain</h2> 
					</div>


					<p>Beginning about 5km north of the CBD, the electorate includes the more working class Brunswick West, Coburg and Pascoe Vale South and the affluent southern suburbs of Parkville, Fitzroy North and Brunswick East, where author Shane Maloney has lived for four decades.</p> 
					
					<p>As Melbourne’s bursting urban fringe dominates debate on talkback and in newspapers, the population in Brunswick East grew by almost half in the decade to 2016. Between 2011-2016, the Brunswick electorate overall gained more than 9,000 residents and 5,000 homes.</p> 
					
					<p>“[It’s] raising an issue for an increasing number of people about whether there will be enough schools and transport,” says Maloney, who came to prominence as the author of the Murray Whelan books about a political operative-turned-Labor MP partly set in the Brunswick area. “The transport corridors that run through Brunswick are pretty well chocka.”</p> 
					
					<p>Some campaign promises acknowledge what is happening here. Labor has committed $4.1m to redevelop a local primary school, and on Wednesday, Bill Shorten and Tanya Plibersek came to Brunswick to announce $6.2m for another.</p>

					<p>The Greens, meanwhile, are focused on cycling infrastructure. They say Sydney Road, where an Italian cyclist died three years ago, needs a separated bike lane. The proposal is unpopular with local traders, many of whom have O’Connor’s corflutes in their windows.</p> 


					<div class="subhead">
						<aside class="interactive-pullquote">
							<span class="inline-garnett-quote inline-icon"><svg class="inline-garnett-quote__svg inline-icon__svg" height="49" viewbox="0 0 35 25" width="70">
							<path d="M69.587.9c-1.842 15.556-3.89 31.316-4.708 48.1H37.043c3.07-16.784 8.391-32.544 17.602-48.1h14.942zM32.949.9c-2.047 15.556-4.094 31.316-4.912 48.1H.2C3.066 32.216 8.592 16.456 17.598.9h15.35z"></path></svg></span>
							<blockquote>
								<p class="pullquote-paragraph">It’s closer to 50-50 than people think</p>
								<footer>
									<cite class="pullquote-cite">Tim Read</cite>
								</footer>
							</blockquote>
						</aside>
					</div>

					<div class="subhead">
						<div class="brunswick_1_6"></div>
					</div>

					<div class="subhead">
						<div class="subhead-caption">
						Peak bike: a cyclist path near Jewell Station Brunswick. About 10% of people in the Brunswick electorate cycle to work. Photograph by Mike Bowers
						</div>
					</div>

					<div class="subhead">
						<h2>‘Tribal or gestural voting’</h2> 
					</div>

					<p>At ground level, it’s hard not to notice the bikes. About 10% of people in the entire Brunswick electorate cycle to work, 10 times the state average. Just in Brunswick, the figure is 12%.</p>

					<p>O’Connor, a union official, rides to work. Read arrives at an interview with his battered bicycle, as does the writer and comedian Catherine Deveny, who is running for Fiona Patten’s Reason party.</p> 

					<p>While Deveny’s candidacy is primarily focused on boosting Fiona Patten’s re-election chances in the upper house – she is scheduled to be at a writers’ retreat on election night – her preferences could prove crucial. (The other confirmed candidate, independent George Georgiou, told an event on Tuesday he would be preferencing the Greens.)</p> 

					<p>Deveny caused outrage earlier this year for describing Anzac Day as “bogan Halloween”, a remark she stands by when asked by Guardian Australia.</p> 
					
					<p>She argues that Patten has pushed Andrews into taking progressive positions. Compared to federal Labor, she sees him as “the good cop”.</p> 
					
					<p>The Greens are expected to campaign strongly on the environment and public transport, but their vocal opposition to federal asylum seeker policies supported by Labor is also likely to be in play.</p> 
					
					<p>O’Connor says she’s against boat turnbacks but won’t be drawn on whether asylum seekers on Manus Island and Nauru should be brought to Australia. “I don’t tell people what to think,” she says.</p> 

					<div class="inline-image right">
						<div class="brunswick_1_5"></div>

						Labor candidate Cindy O'Connor campaigns at Jewell Station. O'Connor says she thinks there are still a lot of undecided voters in her electorate. Photograph by Mike Bowers

					</div>

					<p>The 49-year-old is no stranger to politics. She ran for Labor in the lower-house state seat of Forest Hill in 2014 and spent 18 months on Whitehorse city council in the early 2000s.</p>

					<div class="subhead">
						<aside class="interactive-pullquote">
							<span class="inline-garnett-quote inline-icon"><svg class="inline-garnett-quote__svg inline-icon__svg" height="49" viewbox="0 0 35 25" width="70">
							<path d="M69.587.9c-1.842 15.556-3.89 31.316-4.708 48.1H37.043c3.07-16.784 8.391-32.544 17.602-48.1h14.942zM32.949.9c-2.047 15.556-4.094 31.316-4.912 48.1H.2C3.066 32.216 8.592 16.456 17.598.9h15.35z"></path></svg></span>
							<blockquote>
								<p class="pullquote-paragraph">A lot of people will be voting because of refugees, because of Adani</p>
								<footer>
									<cite class="pullquote-cite">Shane Maloney</cite>
								</footer>
							</blockquote>
						</aside>
					</div>

					<p>Five years ago, Brunswick’s local council – dubbed the People’s Republic of Moreland by supporters and critics – erected a sign on the town hall welcoming refugees to the area. Last year, it voted to scrap Australia Day celebrations.</p> 
					<p>Maloney says that in his tiny street of “about 10 people”, there are now five corflutes: two Greens, one for Labor and another belonging to a new party, the Victorian Socialists.</p> 
					<p>“I think there’s an enormous amount of tribal or gestural voting going on in Brunswick,” he says. “A lot of people will be voting because of refugees, because of Adani. They don’t really distinguish … between any of the levels of government.”</p> 
					<p>Last month, anti-nuclear weapons campaigners held a Brunswick “peace forum” for the state election. Read and O’Connor both turned up.</p> 
					<p>Both outline their activist credentials without much prompting. O’Connor, a union official, helped to organise the Reclaim the Night rally after the murder of ABC journalist and Brunswick resident Jill Meagher and has been involved with local counter-protests against the far right.</p> 
					<p>In his 20s, Read, who is a sexual health researcher, was arrested for spray painting health warnings on cigarette advertisements. He sees politics as “public health practice at the macro level”. During former Liberal premier Jeff Kennett’s reign in the 90s, he briefly joined Labor.</p> 
					<p>Read’s office in the southern half of the electorate has been open for much of 2018, while O’Connor’s only popped up late last month.</p> 
					<p>A big concern for Read is voter registration among the electorate’s uni students; his spiel at tram stops often morphs into an enrolment pitch.</p> 
					<p>He’s keen to stress the Greens are not a “shoo-in”. Is he trying to claim underdog status? “In all honesty I can’t … but my feeling is it’s closer to 50-50 than people think.”</p>

					<div class="subhead">
						<div class="nav-episodes-sidebar-container">

							<div class="mini"><small>Electorate coverage</small></div>

							<a href="https://www.theguardian.com/australia-news/ng-interactive/2018/oct/28/victorian-election-2018-on-the-ground-in-morwell-part-one">
							<div class="nav-episode-sidebar available">
								<div class="nav-episode-header-sidebar">
									<span class="nav-episode-title-sidebar">Morwell</span>
								</div>
							</div>
							</a>

							<a href="https://www.theguardian.com/australia-news/ng-interactive/2018/oct/31/victorian-election-2018-on-the-ground-in-cranbourne-part-1">
							<div class="nav-episode-sidebar available">
								<div class="nav-episode-header-sidebar">
									<span class="nav-episode-title-sidebar">Cranbourne</span>
								</div>
							</div>
							</a>

							<!--a href="">
							<div class="nav-episode-sidebar available">
								<div class="nav-episode-header-sidebar">
									<span class="nav-episode-title-sidebar">Brunswick</span>
								</div>
							</div>
							</a-->

						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
</div>