<div class="interactive-wrapper">
	<div class="gia">
		<div class="wrapper">
			<div class="nav-wrapper">
				<div class="nav-episodes">

					<div class="mini-title">
						Victorian election 2018:<br>
						On the ground in <strong>Cranbourne</strong>
					</div>

					<div class="nav-episode available selected">
						<div class="nav-episode-header">
							<span class="nav-episode-number">Part 1</span> <span class="nav-episode-title">Will transport pressures tip the poll?</span>
						</div>
					</div>

					<div class="nav-episode available">
						<div class="nav-episode-header">
							<span class="nav-episode-number">Part 2</span> <span class="nav-episode-title">Coming soon</span>
						</div>
					</div>

					<div class="nav-episode available">
						<div class="nav-episode-header">
							<span class="nav-episode-number">Part 3</span> <span class="nav-episode-title">Coming soon</span>
						</div>
					</div>

				</div>
			</div>

			<div class="gia-content">

				<div class="hero-image cranbourne_1_1">
					
					<div class="headline-title">
						<div class="headline-title2">
							<div class="partnership-headline">
								Cranbourne 
							</div>
							<div class="partnership-headline-sub">
								Will transport pressures tip the poll?
							</div>
						</div>
					</div>

				</div>

				<div class="gia-content-section">
					<p><strong>Calla Wahlquist visits the electorate of Cranbourne and discovers a booming but gridlocked population. She will return as the campaign progresses to take the seat’s pulse again</strong></p>
				</div>

				<div class="gia-content-section">

					<div class="gia-byline">by Calla Wahlquist, Mike Bowers</div>

					<p><span class="gia-drop-cap">T</span>raffic jams start early in Cranbourne. By 4pm parents on their way home from the school pick-up have joined the first wave of commuters returning home from the city, pouring off the M420 at Lynbrook, some 42km from the Melbourne CBD.</p>

					<div class="subhead">
						<div class="cranbourne_1_6"></div>
					</div>

					<div class="subhead">
						<div class="subhead-caption">
								Pressure point: Traffic from the South Gippsland freeway coming from the city during afternoon peak hour, joins the South Gippsland highway heading towards Cranbourne. Photograph by Mike Bowers
						</div>
					</div>

					<p>They queue up at roadworks and drive past road-widening signs on their way out to the sprawling new estates, colour-coordinated new communities with names such as Allanvale, Pavilion, Highgrove and Eliston. The roadworks are a sign of progress but at the moment they’re a cause of further delay. And with 60 new families moving to the area each week, it’s a sisyphean task to keep infrastructure ahead of population growth.</p>

					<p>It is here, in the rapidly growing suburbs of Melbourne’s south-east known as the sandbelt seats, that <a href="https://www.theguardian.com/australia-news/victorian-election-2018">the Victorian state election on 24 November</a> will be won or lost. And in the electorate of Cranbourne, the fastest-growing in the state, with a 33% boost in enrolment since 2014, it will be won or lost on transport.</p>


				</div>

				<div class="electorater-interactive-full">
					<div class="electorate__glancer">
						<div class="electorate__glancer_span">
							<h2>Cranbourne at a glance</h2>
						</div>

						<div class="electorate__glancer_section">
							
							<div class="electorate__map">
								<img src="<%= path %>/assets/cranbourne_map.png">
							</div>	

						</div>

						<div class="electorate__glancer_section">
							
							<h4>Sitting member</h4>
							<p>Jude Perera, ALP, 2.34% margin.<br/>(Elected in 2002, retiring this election.)</p>

							<h4>Profile</h4>
							<p>Rapidly growing suburban and peri-urban seat on Melbourne’s southeastern fringe. Fastest growing electorate in the state; one of the fastest growing regions in the country. Covers Cranbourne, Cranbourne East, Cranbourne West, Cranbourne South, Clyde, Clyde North, Lyndhurst, Lynbrook and Botanic Ridge.</p>

							<h4>Voting history</h4>
							<p>Established in 1992 and held for the first 10 years by Liberal MP Gary Rowe.</p>

						</div>

						<div class="electorate__glancer_section">
							
							<h4>By the numbers</h4>

							<p>Cranbourne skews younger than the rest of Victoria, with a median age of <strong>32</strong> compared to the statewide median of <strong>37</strong>.</p>

							<p><strong>61%</strong> worked full time — compared to <strong>57%</strong> across Victoria — and <strong>71.8%</strong> drove to work, compared to <strong>61.8%</strong> statewide.</p>

							<p><strong>56.5%</strong> of residents were born in Australia, while <strong>8.9%</strong> were born in India. Statewide, those figures are <strong>64.9%</strong> and 2.9% respectively.</p>

							<p><strong>49.3%</strong> of Cranbourne residents described themselves as belonging to a Christian faith, according to the 2016 election, while <strong>25.9%</strong> said they had no religion.</p>

							<p><strong>57.8%</strong> are currently paying off a mortgage on a mostly three- or four-bedroom freestanding home. Only 22% are renting.</p>

						</div>

					</div>
				</div>

				<div class="gia-content-section">


					<div class="inline-image right">
						<div class="cranbourne_1_7"></div>

						Thus far, election advertising for Liberal candidate for the seat of Cranbourne, Ann-Marie Hermans, far outweighs that for her Labor rival, Pauline Richards. Photograph by Mike Bowers

					</div>

					<p>“Transport has been the big number one ticket item,” says the mayor of the city of Casey, Geoff Ablett. “It’s just traffic gridlock if you happen to go into Melbourne.”</p>


					<p>Ablett ran for the Liberal party against Labor MP Jude Perera in 2014 but Perera held the seat, which he first won in 2002, with a margin of 2.34%.</p>



					<p>Now Perera is retiring, the Liberal party is hoping to win it back. Signs for candidate Ann-Marie Hermans dot the electorate, outnumbering signs for Labor candidate Pauline Richards. Greens candidate Jake Tilton, a 22-year-old law student and veteran of the 2016 election campaign, where he ran for the federal seat of Holt, has just announced his run.</p>

					<p>Despite the obvious campaign investment, none of the voters Guardian Australia spoke to could name any candidates, and most said they were indifferent about the upcoming election.</p>

					<p>But when asked to name their key concern, the results were unanimous: transport.</p>

					<div class="voxpop_container">
						<div id="vox_widget">
							<iframe src="https://interactive.guim.co.uk/embed/iframeable/2018/10/election-voxbox/html/index.html?key=10k7rSn5Y4x0V8RNyQ7oGDfhLvDqhUQ2frtZkDMoB1Xk" width="100%" scrolling="no" unsafe-inline></iframe>
						</div>
					</div>

					<div class="subhead">
						<h2>The end of the line</h2>
					</div>

					<p>Cranbourne station is the end of the Cranbourne line, a 65-minute journey from the CBD. From Dandenong it is covered by the longest stretch of single track in the metropolitan network.</p>

					<p>That single track means that services have to run at least 20 minutes apart even in peak hour, adding to congestion. It also makes the line vulnerable to faults and delays, making service times unpredictable and driving more people on to the road.</p>

					<p>“If you are going into the city to work, you can’t just tell them that the train was cancelled,” says Satnam Singh from a bus stop outside the station.</p>

					<p>The station car park is full by 7am, the carriages a sweaty game of sardines after only three or four stops. According to the <a href="http://quickstats.censusdata.abs.gov.au/census_services/getproduct/census/2016/quickstat/SED22105">2016 census</a>, only 4.7% of commuters take the train to work, while 79.2% either drive individually or carpool.</p>

					<p>“You have people who buy in Clyde … and on the map it’s got a station, but there’s no station,” Ablett says. “They’re spending four or six hours a day in the car where they’re leaving in the dark and getting home in the dark.”</p>

					<p>Building that rail extension is a key promise of both the government and opposition. The Liberal party has pledged to extend the line and duplicate it back up to Dandenong at the same time; while Labor has pledged $750m to begin immediate work on duplicating the line and allocated $7m in the 2018 budget to plan the extension.</p>

					<p>Hermans did not respond to multiple interview requests from Guardian Australia.</p>

					<p>Richards, who regularly catches the train to work in the office of the state health minister, Jill Hennessy, from which she is currently on leave, says she is “rapt” about the duplication plans, which are promised to increase service frequency to every 10 minutes during peak hour.</p>

					<p>“There is no question, no question at all [that this work is required],” she says.</p>

					<div class="gallery1">
						<div class="cranbourne_1_2"></div>
					</div>
					<div class="gia-caption">
						The bus stop outside Cranbourne station. The electorate is dominated by young families and all are new arrivals – either from other parts of Melbourne, Australia or overseas. Photograph by Mike Bowers.
					</div>

					<p>Tilton, who lives in Langwarrin, one suburb over from Cranbourne South in the neighbouring electorate of Hastings, and splits his time between studying law and working at a local supermarket, says public transport is also his “number one priority.”</p>

					<p>“Infrastructure here is shocking at best,” he says.</p>

					<p>The level-crossing removal program, cornerstone infrastructure spend in the Andrews government’s first term, has disrupted local traffic and ushered in days of dreaded train replacement bus services. The benefits of no longer queuing at level crossings may not outweigh the memories of road and train closures when people go to vote.</p>

					<p>“I don’t think there’s a road we drive on which doesn’t have roadworks,” says Kim Jones, who lives in a new house in Clyde with partner Shaun Johnson. They drive to Dandenong South for work.</p>

					<p>“I feel like once that’s done it will be better, but it’s not enough,” says Johnson. “By the time that’s finished it’s back to being congested again because it’s just not keeping up with how many people are moving out here.”</p>

					<div class="inline-image right">
						<div class="cranbourne_1_3"></div>
						Greens candidate Jake Tilton at Campbell Parade Reserve in Cranbourne. Photograph by Mike Bowers.
					</div>

					<p>The roadworks are set to continue. Richards counts off the projects that are already under way or have been promised funding by Labor: widening Thompsons and Narre Warren – Cranbourne Roads duplicating Hall Road, tackling a few problem intersections.</p>

					<p>“I’m in the habit of saying we’re duplicating like crazy bananas,” she says.</p>

					<p>The road announcements have been cautiously welcomed. Resident Shari Mosetlhi is concerned the proposed Hall Road upgrade will increase congestion.</p>

					<p>“I think that’s going to be a problem because you have got Brompton [a new housing estate] which is going to be starting and also Lochaven [another housing estate],” she says. “The traffic here is starting to get really bad.”</p>

					<p>The opposition’s roads policy plays off the concern that the infrastructure spend will never keep up with “out of control” population growth.</p>

					<p>“Without a population plan to deal with growth Melbourne will always be in a state of traffic gridlock,” the opposition leader, Matthew Guy, has said.</p>

					<div class="subhead">
						<aside class="interactive-pullquote">
							<span class="inline-garnett-quote inline-icon"><svg class="inline-garnett-quote__svg inline-icon__svg" height="49" viewbox="0 0 35 25" width="70">
							<path d="M69.587.9c-1.842 15.556-3.89 31.316-4.708 48.1H37.043c3.07-16.784 8.391-32.544 17.602-48.1h14.942zM32.949.9c-2.047 15.556-4.094 31.316-4.912 48.1H.2C3.066 32.216 8.592 16.456 17.598.9h15.35z"></path></svg></span>
							<blockquote>
								<p class="pullquote-paragraph">Without a population plan to deal with growth Melbourne will always be in a state of traffic gridlock</p>
								<footer>
									<cite class="pullquote-cite">Matthew Guy</cite>
								</footer>
							</blockquote>
						</aside>
					</div>

					<p>The opposition <a href="https://viewer.gutools.co.uk/australia-news/2018/oct/03/law-and-order-auction-crime-victoria-election">is also focused on crime</a>, promising to build a <a href="https://www.heraldsun.com.au/leader/south-east/15-million-24hour-police-station-built-in-clyde-north-by-2019-if-liberals-win-2018-state-election/news-story/6fca429a5dee9b494cee5e2b57ee8fe5">$15m 24-hour police station in Clyde North</a> within a year if elected.</p>

					<p>The administrator of the 44,000-member <a href="https://www.facebook.com/groups/caseycrime/">Casey Crime Facebook page</a>, a surprisingly influential neighbourhood watch-slash-community forum, listed crime as their top concern for the election, followed by traffic congestion and immigration.</p>

					<p>The area has seen several recent high-profile crimes but according to the Crime Statistics Agency Victoria, the overall crime rate in the city of Casey has fallen 16% from 5,263 incidents per 100,000 people in 2016-17 to 4,393 per 100,000 in 2017-18. The total number of offences committed fell 13% in the same period.</p>

					<div class="gallery1">
						<div class="cranbourne_1_4"></div>
					</div>
					<div class="gia-caption">
						Residential building works in Cranbourne with views to Melbourne city. Sixty families a week are moving into the area and new subdivisions are still opening up. Photograph by Mike Bowers.
					</div>


					<div class="subhead">
						<h2>‘A beautifully planned community’</h2>
					</div>

					<p>It is unclear how the population growth argument will play in the new estates of Cranbourne East and Clyde, where most people are newly arrived either from other parts of Melbourne or other countries. More than half of all residents were born in Australia; 9% were born in India.</p>

					<p>It’s an electorate of young families: the average age is 32; the average car an SUV. Pockets of older houses with rusted horseyards hint at what the suburb used to be, before developers drained the farmland into a central water feature for the Australian dream.</p>

					<p>The racecourse, once the dominant industry in the electorate, is now only its geographical centre. The evenings are given over to fleets of prams; the public parks to sporting ovals and football grounds. (Both sporting ovals and the racetrack have been offered significant funding throughout the campaign.)</p>

					<div class="inline-image right">
						<div class="cranbourne_1_5"></div>
						Labor candidate Pauline Richards at Atrus Park in Cranbourne East. Photograph by Mike Bowers
					</div>

					<p>Richards is among the new arrivals. She moved to Lyndhurst, in the northern tip of the electorate, with her husband and youngest child last year. The elder five have left home.</p>

					<p>“It’s a beautifully planned community,” she says.</p>


					<p>The 49-year-old is no stranger to politics. She ran for Labor in the lower-house state seat of Forest Hill in 2014 and spent 18 months on Whitehorse city council in the early 2000s.</p>

					<div class="subhead">
						<aside class="interactive-pullquote">
							<span class="inline-garnett-quote inline-icon"><svg class="inline-garnett-quote__svg inline-icon__svg" height="49" viewbox="0 0 35 25" width="70">
							<path d="M69.587.9c-1.842 15.556-3.89 31.316-4.708 48.1H37.043c3.07-16.784 8.391-32.544 17.602-48.1h14.942zM32.949.9c-2.047 15.556-4.094 31.316-4.912 48.1H.2C3.066 32.216 8.592 16.456 17.598.9h15.35z"></path></svg></span>
							<blockquote>
								<p class="pullquote-paragraph">It’s really honouring people by asking them what’s important … it is a universally optimistic thing to do</p>
								<footer>
									<cite class="pullquote-cite">Pauline Richards</cite>
								</footer>
							</blockquote>
						</aside>
					</div>

					<p>She speaks quickly and excitedly about the campaign.</p>

					<p>“I really do love just talking,” she says. “It’s incredibly interesting asking people what’s important in their lives, and it’s really honouring people by asking them what’s important … it is a universally optimistic thing to do.”</p>

					<p>Bibi Mosavi and Aziza Mohammad represent another group of new arrivals. Mosavi has lived in Cranbourne for three years and Mohammad for two. Both women are originally from Afghanistan and their children attend the same new Clarinda Park primary school. They are not eligible to vote, because they do not have permanent residency, but tell Guardian Australia they like living here.</p>

					<p>Claire Manson, who moved to the Clarinda Park estate from the bayside suburb of Bentleigh two years ago, has only one concern to raise: “It could probably do with a few more good restaurants.”</p>

				</div>
			</div>
		</div>
	</div>
</div>