<div class="interactive-wrapper">
	<div class="gia">
		<div class="wrapper">
			<div class="nav-wrapper">
				<div class="nav-episodes">

					<div class="mini-title">
						Victorian election 2018:<br>
						On the ground in <strong>Morwell</strong>
					</div>

					<div id="victorin-election-nav">

						<div class="nav-episode available selected">
							<a href="https://www.theguardian.com/australia-news/ng-interactive/2018/oct/28/victorian-election-2018-on-the-ground-in-morwell-part-one">
							<div class="nav-episode-header">
								<span class="nav-episode-number">Part 1</span> <span class="nav-episode-title">A powerhouse in the grip of coal transition</span>
							</div>
							</a>
						</div>

						<div class="nav-episode available">
							<div class="nav-episode-header">
								<span class="nav-episode-number">Part 2</span> <span class="nav-episode-title">Coming soon</span>
							</div>
						</div>

						<div class="nav-episode available">
							<div class="nav-episode-header">
								<span class="nav-episode-number">Part 3</span> <span class="nav-episode-title">Coming soon</span>
							</div>
						</div>

					</div>

				</div>
			</div>

			<div class="gia-content">

				<div class="hero-image morwell_1_1">
					
					<div class="headline-title">
						<div class="headline-title2">
							<div class="partnership-headline">
								Morwell 
							</div>
							<div class="partnership-headline-sub">
								A powerhouse in the grip of coal transition
							</div>
						</div>
					</div>

				</div>

				<div class="gia-content-section">
					<p><strong>Gay Alcorn checks in on the electorate in Victoria’s Latrobe Valley and finds one issue on everyone’s minds: jobs. She will return as the campaign progresses to take the seat’s pulse again</strong></p>
				</div>

				<div class="gia-content-section">

					<p class="share-buttons">
						<button class="interactive-share" data-network="facebook"></button> 
						<button class="interactive-share" data-network="twitter"></button> 
					</p>

					<div class="gia-byline">by Gay Alcorn, Mike Bowers</div>

					<p><span class="gia-drop-cap">W</span>hether you ask a 22-year-old Rohingya refugee who arrived in Morwell a year ago or the longtime owner of a Traralgon cafe, there is one thing on everyone’s mind: jobs.</p>

					<p>“Employment is the biggest issue. It’s very hard to get a job, says Amina Khatun, who is among 12 Rohingya families living in Morwell. “Jobs and bringing industry and growth to the area,” says Chris Vilcins, the owner of the Green Door Cafe.</p>

					<p>The National candidate for the seat, Sheridan Bond, the senior vice-president of the state party, concurs. “Jobs is the big thing. That’s the big talking point.” Her rival, Labor’s Mark Richards, who lost his own job when the Hazelwood power station shut last year, says: “We have to keep going for the jobs, we really do.”</p>

				</div>

				<div class="electorater-interactive-full">
					<div class="electorate__glancer">
						<div class="electorate__glancer_span">
							<h2>Morwell at a glance</h2>
						</div>

						<div class="electorate__glancer_section">
							
							<div class="electorate__map">
								<img src="<%= path %>/assets/morwell_map.png">
							</div>	

						</div>

						<div class="electorate__glancer_section">
							
							<h4>Sitting member</h4>
							<p>Russell Northe, independent – 1.8% margin.<br/>

							(Northe was elected as a National but resigned from the party last year and is yet to declare whether he will stand again)<br/></p>

							<h4>Profile</h4>
							<p>Mixed urban and rural electorate south-east of Melbourne in the Latrobe Valley region of Gippsland. Main towns are Churchill, Morwell, Traralgon, Newborough. Biggest employer is hospitals and healthcare. Second biggest is the fossil fuel electricity industry.</p>

							<h4>Voting history</h4>
							<p>Labor held Morwell from 1970 to 2002 before losing to Northe in 2006</p>

						</div>

						<div class="electorate__glancer_section">
							
							<h4>By the numbers</h4>

							<p><strong>79%</strong> of residents born in Australia, compared to 65% Victoria-wide.</p>

							<p>The most common responses for religion in the census were No Religion - <strong>35.4%</strong></p>

							<p><strong>11.4%</strong> of people have a bachelor degree or higher, compared with <strong>24.3%</strong> Victoria-wide.</p>

							<p>Latrobe has the second highest crime rate of any local government area in the state (after central Melbourne). <strong>19%</strong> of crimes are family-violence related.</p>

							<p>For every <strong>100</strong> people, <strong>26</strong> experience very high disadvantage, while the state average is eight.</p>

						</div>

					</div>
				</div>

				<div class="gia-content-section">

					<p>But which jobs, and how they will be created? The electorate sits in the Latrobe Valley, a two-hour drive east of Melbourne, and takes in the town of the same name and the nearby centres of Traralgon, Churchill and Newborough.</p>

					<p>As the heart of electricity generation in Victoria since the 1920s, the Valley (always capitalised here) has been tossed about by coal politics for decades: the privatisation of the electricity industry in the 1990s cost thousands their jobs and threw the region into depression, the fierce fire in an open-cut mine in 2014, and now the drumbeat that the world must stop burning coal if it has any chance of avoiding <a href="https://viewer.gutools.co.uk/environment/climate-change" target="_blank">the worst impacts of climate change</a>.</p>

					<p>The ageing Hazelwood power station turned off its boilers last year, putting about 750 people out of work and intensifying the sense that this way of life may be coming to an end. The three stations remaining are due to gradually close, the last by 2048.</p>

					<p>The people of the Valley are a reminder that the national confusion about energy policy reverberates far beyond Canberra. Which candidate wins the arguments in this seat will offer a hint about whether the “transition” to clean energy can bring people along, or whether towns like this across Australia will be left behind.</p>

					<div class="voxpop_container">
						<div id="vox_widget">
							<iframe src="https://interactive.guim.co.uk/embed/iframeable/2018/10/election-voxbox/html/index.html?key=1IR0VsahZ7Vv22ImmPaW3lVGz4R6sEH3hJGN7eraO5O8" width="100%" scrolling="no" unsafe-inline></iframe>
						</div>
					</div>

					<div class="subhead">
						<h2>A suddenly marginal seat</h2>
					</div>

					<p>This is one of the most disadvantaged regions in Victoria. The smoking rate is double the state average, as is the incidence of diabetes, and the Valley has the highest rate of family violence in the state.</p>

					<p>It has one thing going for it now: it’s a marginal seat. This is supposed to be National party country, and the local member, Russell Northe, a well-liked former football hero, has held it since 2006.</p>

					<p>But after locals felt that the then state Coalition government was slow to respond to the health dangers of the mine fire in 2014, the manager of the Morwell Neighbourhood House, Tracie Lund, decided to “do an Indi”, taking her cue from Cathy McGowan’s win over the Liberal Sophie Mirabella. She adopted McGowan’s orange T-shirts and ran as an independent.</p>

					<p>Lund, more used to organising free food banks than door-knocking, gained more than 10% of the vote. Northe suffered the biggest swing of any seat in the state – more than 11% – and now hangs on by 1.8%.</p>

					<p>Last year Northe <a class="u-underline" data-link-name="in body link" href="https://www.theage.com.au/politics/victoria/morwell-mp-russell-northe-and-wife-lash-out-at-gutter-politics-20180219-p4z0vm.html" rel="noopener noreferrer" target="_blank">resigned from the Nationals owing to depression and a gambling problem</a>, and is now an independent. That has allowed Bond to stand for the Nationals, and the Liberals to preselect a local councillor, Dale Harriman.</p>

					<p>Labor has targeted this seat as one it can wrench back, and has chosen Richards, who was born and raised in the Valley, joined the power industry when he left school at 17 and walked out of his last shift when Hazelwood closed.</p>

					<p>It is messy field of eight so far, with Lund standing again after missing out on Labor preselection. There’s the longtime newsagent Ray Burgess. The former Victorian senator Ricky Muir lives just outside the electorate and is standing for the Shooters, Fishers and Farmers. Muir is a sawmiller who can’t stand the Greens’ proposal for a new national park in the area. He says it will destroy the timber industry and harm four-wheel-drivers and dirt bike riders.</p>

					<p>This is not friendly territory for the Greens, but a teacher, Dan Caffrey, will contest. Northe has not yet declared whether he will stand. Before preselections close, there may be yet more nominations.</p>

					<p>It’s an intensely local contest. Candidates know each other – Bond’s father was the MC at Harriman’s wedding. There is gossip about who’s funding campaigns, and who is going to preference who, but the substance of it revolves around coal.</p>

					<div class="gallery1">
						<div class="morwell_1_2"></div>
					</div>
					<div class="gia-caption">
						Liberal candidate Dale Harriman, independents Tracie Lund (back) and Christine Sindt (front left) with Nationals candidate Sheridan Bond at a carers association meeting in Morwell. Photograph by Mike Bowers.
					</div>


					<div class="subhead">
						<h2>Coal politics hit home</h2>
					</div>

					<p>The agonies of climate change policy that cripple politics in Canberra play out on Commercial Road in Morwell, now being dug up and beautified to cheer the place up and create jobs. The shop facades are faded somewhat, and you can still see the eight stacks of Hazelwood, standing idle.</p>

					<p>The Nationals, Liberals and Burgess see the answer to the region’s woes as being a new coal-fired power station, a “clean coal” plant of a type known as high efficiency, low emissions (HELE). It would still emit carbon dioxide into the atmosphere, but much less than existing coal plants.</p>

					<p>Most experts say it’s not going to happen – nobody will fund it, it will take too long to build, and it won’t reduce emissions enough anyhow – but the federal government dangles the prospect. Last week the prime minister, Scott Morrison, renewed the <a class="u-underline" data-link-name="in body link" href="/australia-news/2018/oct/24/coalition-could-indemnify-new-coal-projects-against-potential-carbon-price">idea of government support for new stations, possibly through the underwriting the risk</a>, although how that would work is unresolved.</p>

					<p>It’s what many people in the Valley want to hear. Burgess, a 63-year-old who worked in the power industry for 15 years, drives around town in a van with a picture of his face emblazoned on the side, alongside a power station.</p>

					<div class="inline-image right">
						<div class="morwell_1_3"></div>

						Independent candidate Ray Burgess drives around Morwell in a van with his face and a power station emblazoned on the side. Photograph by Mike Bowers.
					</div>

					<p>He’s unconvinced that carbon dioxide is the driver of global warming, despite scientists saying carbon dioxide emissions from burning fossil fuels are the key reason the planet is heating, and that coal-fired power must end by 2050. “The IPCC [the UN’s Intergovernmental Panel on Climate Change] is crying wolf and they’ll only cry wolf so many times before people won’t believe them,” he says.</p>

					<p>Bond, 47, is a fourth-generation Valley girl whose nephew and brother-in-law both lost jobs when Hazelwood closed. She is “open minded” when it comes to human-induced climate change. “I do believe there is a place for HELE energy to exist, but we do need to transition to a lower use of coal,” she says.</p>

					<p>A new power station for the Valley is official National policy, but how it would come about it not clear. Banks are uninterested in financing coal power and, so far, no company has publicly indicated it wants to build one.</p>

					<p>Federal Labor has warned Australia’s energy sector that <a class="u-underline" data-link-name="in body link" href="/environment/2018/oct/24/labor-opposes-plan-to-indemnify-new-coal-plants-warns-it-could-cost-billions">it does not support the government indemnifying new coal plants against the future risk of a carbon price</a> – noting the cost to taxpayers could run into billions.</p>

					<p>Burgess speaks approvingly of <a class="u-underline" data-link-name="in body link" href="/australia-news/2018/apr/03/monash-forum-coalition-backbenchers-lobby-coa">the Monash Forum of conservative MPs</a>, including Tony Abbott and Kevin Andrews, which has floated government funding as much as $4bn to replace Hazelwood. Then-treasurer Morrison blasted the idea, saying it would take years to build, and the power generated would be more expensive than that from existing stations.</p>


					<div class="subhead">
						<aside class="interactive-pullquote">
							<span class="inline-garnett-quote inline-icon"><svg class="inline-garnett-quote__svg inline-icon__svg" height="49" viewbox="0 0 35 25" width="70">
							<path d="M69.587.9c-1.842 15.556-3.89 31.316-4.708 48.1H37.043c3.07-16.784 8.391-32.544 17.602-48.1h14.942zM32.949.9c-2.047 15.556-4.094 31.316-4.912 48.1H.2C3.066 32.216 8.592 16.456 17.598.9h15.35z"></path></svg></span>
							<blockquote>
								<p class="pullquote-paragraph">People are more optimistic about the future</p>
								<footer>
									<cite class="pullquote-cite">Tracie Lund</cite>
								</footer>
							</blockquote>
						</aside>
					</div>

					<p>Bond says there are dozens of HELE plants being built in Europe, so why not one in the Valley? She acknowledges that no companies have put their hand up. “I have certainly asked the question of my party and at a high level there has been discussions with some companies and those companies have chosen to remain confidential at this point,” she says. “The feedback we’ve received is that the policy settings need to be right for them to invest in building a plant such as a HELE plant here, and that is our focus.”</p>

					<p>Richards, 47, is no enemy of coal – “it’s put food on the table” – but says his conservative rivals are misleading people when they promise a new station. “It’s absolutely false hope, no one’s going go to fund it.” Morwell is being buffeted by the lack of an energy policy in Canberra, he says, because without it, there is no direction.</p>

					<p>Tony Wood, the director of the energy program at the Grattan Institute, tends to agree. “They seriously want to run an argument that the private sector’s too scared, so the government will take on board the risk? Why? There are better and cheaper ways to reduce emissions than to build a white elephant or, in this case, a black elephant.”</p>

					<div class="subhead">
						<div class="morwell_1_4"></div>
					</div>

					<div class="subhead">
						<div class="subhead-caption">
								Hazelwood power station closed in 2017, leaving a gaping hole in the local economy, but even opponents acknowledge Labor government initiatives have softened the blow. Photograph by Mike Bowers
						</div>
					</div>


					<div class="subhead">
						<h2>The Hazelwood hole</h2>
					</div>

					<p>Even Richards’ opponents acknowledge that the state Labor government supported Morwell after Hazelwood closed. It set up the Latrobe Valley Authority to oversee a $266m rescue package, which has built sporting and arts facilities, funded businesses to transform and grow and pays them up to $9,000 to hire and train the unemployed.</p>

					<p>In an Australian first, a redundancy scheme for Hazelwood was available for workers at other power stations, which meant older workers could leave the industry, making room for younger people to shift across – 81 jobs were saved that way.</p>

					<p>Bond says it has done good work, but has pledged to review it because “I haven’t seen those long-term sustainable jobs and industries”.</p>

					<p>For Richards, a new power station might sound grand, but real jobs are about “chipping away”. A $435m upgrade to the rail line, partly funded by the federal government, will create 400 jobs. Decentralisation is happening, with a “GovHub” in Morwell to create 75 local jobs. There’s a promise of a big upgrade to the region’s biggest employer, the Latrobe hospital – 600 jobs in construction, and 200 ongoing.</p>

					<p>A marginal seat attracts promises, and the opposition is pledging as part of its centrepiece high-speed regional rail plan an office in the Latrobe Valley, and 130 jobs.</p>

					<div class="inline-image right">
						<div class="morwell_1_5"></div>

						Tarwin Street, Morwell. There was dread that the region would collapse after Hazelwood shut, but that hasn’t happened. Photograph by Mike Bowers

					</div>

					<p>But these are all government-created jobs, welcome enough, but long-term? Richards would love a major new private employer, but “those things are hard to come by nowadays”. Not that Richards – nor any of the other main candidates – wants to see the hundreds of years’ supply of coal under their feet abandoned.</p>

					<div class="subhead">
						<aside class="interactive-pullquote">
							<span class="inline-garnett-quote inline-icon"><svg class="inline-garnett-quote__svg inline-icon__svg" height="49" viewbox="0 0 35 25" width="70">
							<path d="M69.587.9c-1.842 15.556-3.89 31.316-4.708 48.1H37.043c3.07-16.784 8.391-32.544 17.602-48.1h14.942zM32.949.9c-2.047 15.556-4.094 31.316-4.912 48.1H.2C3.066 32.216 8.592 16.456 17.598.9h15.35z"></path></svg></span>
							<blockquote>
								<p class="pullquote-paragraph">The IPPC is crying wolf and they’ll only cry wolf so many times before people won’t believe them</p>
								<footer>
									<cite class="pullquote-cite">Ray Burgess</cite>
								</footer>
							</blockquote>
						</aside>
					</div>

					<p>Australia’s chief scientist, <a class="u-underline" data-link-name="in body link" href="https://www.theaustralian.com.au/business/climate-top-issue-in-wentworth-byelection-alan-finkel/news-story/0fa32015d4fa7533b93e94163fca4821" rel="noopener noreferrer" target="_blank">Alan Finkel, is heartened by a $500m pilot program</a> – funded by the state, federal and Japanese governments – for liquefied hydrogen produced from the Valley’s brown coal to be transported to Japan for use in fuel cell electric vehicles and power generation. “That is an opportunity to create a future for an otherwise stranded asset,” he said.</p>

					<p>Others, like the Greens and Environment Victoria, say coal-to-hydrogen is another pipe-dream for the Valley, to be superseded in the next few years by clean hydrogen sourced from renewable energy.</p>

					<p>There have been many promises in the Valley, many pilots, and many dashed hopes. But there is hope here. There was dread that the region would collapse after Hazelwood shut, but that hasn’t happened. It has not been easy, but unemployment has remained fairly stable, if stubbornly high. In the Latrobe council area, it’s just over 9%. It remains very high in the town of Morwell, at 17.5%, but that’s much the same as it was before Hazelwood closed.</p>

					<p>When Lund ran as an independent in 2014, “I was talking to people who were in just total despair. They didn’t know why there were here, what would happen to them.” There are still worries, but “people are more optimistic about the future”.</p>

					<p>Lund is unlikely to direct preferences, a decision that irks Labor, which sees itself surrounded by conservative candidates promising what it sees as false hope. The bigger story of the election says Lund, is a tussle between old and new power, old thinking and new. “We don’t want to change because that’s what we know,” she says. “But the world’s dictating the move away from coal. It’s not our decision. And we are more than brown coal.”</p>

				</div>
			</div>
		</div>
	</div>
</div>