<div class="nav-episodes-sidebar-container">

	<div class="nav-episode-sidebar available selected">
		<div class="nav-episode-header-sidebar">
			<span class="nav-episode-title-sidebar">Morwell</span>
		</div>
	</div>

	<div class="nav-episode-sidebar available">
		<div class="nav-episode-header-sidebar">
			<span class="nav-episode-title-sidebar">Camberwell</span>
		</div>
	</div>

	<div class="nav-episode-sidebar available">
		<div class="nav-episode-header-sidebar">
			<span class="nav-episode-title-sidebar">Melbourne</span>
		</div>
	</div>
</div>