@import "mq";

.morwell_1_1 {

	background-size: cover;
	margin-bottom: 20px;

	@include mq($until: mobile) { /*  320px */
		background-image: url("<%= path %>/assets/morwell/morwell_1_1_320.jpg");
	}

	@include mq($from: mobile, $until: mobileLandscape) { /*  480px */
		background-image: url("<%= path %>/assets/morwell/morwell_1_1_480.jpg");
	}

	@include mq($from: mobileLandscape, $until: tablet) { /*  740px */
		background-image: url("<%= path %>/assets/morwell/morwell_1_1_740.jpg");
	}

	@include mq($from: tablet, $until: desktop) { /*  980px */
		background-image: url("<%= path %>/assets/morwell/morwell_1_1_980.jpg");
	}

	@include mq($from: desktop, $until: wide) { /*  1300px */
		background-image: url("<%= path %>/assets/morwell/morwell_1_1.jpg");
	}

	@include mq($from: wide) { /*  1300px and wider */
		background-image: url("<%= path %>/assets/morwell/morwell_1_1.jpg");
	}

}

.morwell_1_2 {

	width: 100%;
	height: 0px;
	padding-bottom: 67%;
	background-size: cover;
	margin-bottom: 20px;

	@include mq($until: mobile) { /*  320px */
		background-image: url("<%= path %>/assets/morwell/morwell_1_2_320.jpg");
	}

	@include mq($from: mobile, $until: mobileLandscape) { /*  480px */
		background-image: url("<%= path %>/assets/morwell/morwell_1_2_480.jpg");
	}

	@include mq($from: mobileLandscape, $until: tablet) { /*  740px */
		background-image: url("<%= path %>/assets/morwell/morwell_1_2_740.jpg");
	}

	@include mq($from: tablet, $until: desktop) { /*  980px */
		background-image: url("<%= path %>/assets/morwell/morwell_1_2_980.jpg");
	}

	@include mq($from: desktop, $until: wide) { /*  1300px */
		background-image: url("<%= path %>/assets/morwell/morwell_1_2.jpg");
	}

	@include mq($from: wide) { /*  1300px and wider */
		background-image: url("<%= path %>/assets/morwell/morwell_1_2.jpg");
	}

}

.morwell_1_3 {

	width: 100%;
	height: 0px;
	padding-bottom: 67%;
	background-size: cover;
	margin-bottom: 20px;

	@include mq($until: mobile) { /*  320px */
		background-image: url("<%= path %>/assets/morwell/morwell_1_3.jpg");
	}

	@include mq($from: mobile, $until: mobileLandscape) { /*  480px */
		background-image: url("<%= path %>/assets/morwell/morwell_1_3.jpg");
	}

	@include mq($from: mobileLandscape, $until: tablet) { /*  740px */
		background-image: url("<%= path %>/assets/morwell/morwell_1_3.jpg");
	}

	@include mq($from: tablet, $until: desktop) { /*  980px */
		background-image: url("<%= path %>/assets/morwell/morwell_1_3.jpg");
	}

	@include mq($from: desktop, $until: wide) { /*  1300px */
		background-image: url("<%= path %>/assets/morwell/morwell_1_3.jpg");
	}

	@include mq($from: wide) { /*  1300px and wider */
		background-image: url("<%= path %>/assets/morwell/morwell_1_3.jpg");
	}

}

.morwell_1_4 {

	width: 100%;
	height: 0px;
	padding-bottom: 67%;
	background-size: cover;
	margin-bottom: 20px;

	@include mq($until: mobile) { /*  320px */
		background-image: url("<%= path %>/assets/morwell/morwell_1_4_320.jpg");
	}

	@include mq($from: mobile, $until: mobileLandscape) { /*  480px */
		background-image: url("<%= path %>/assets/morwell/morwell_1_4_480.jpg");
	}

	@include mq($from: mobileLandscape, $until: tablet) { /*  740px */
		background-image: url("<%= path %>/assets/morwell/morwell_1_4_720.jpg");
	}

	@include mq($from: tablet, $until: desktop) { /*  980px */
		background-image: url("<%= path %>/assets/morwell/morwell_1_4.jpg");
	}

	@include mq($from: desktop, $until: wide) { /*  1300px */
		background-image: url("<%= path %>/assets/morwell/morwell_1_4.jpg");
	}

	@include mq($from: wide) { /*  1300px and wider */
		background-image: url("<%= path %>/assets/morwell/morwell_1_4.jpg");
	}

}

.morwell_1_5 {

	width: 100%;
	height: 0px;
	padding-bottom: 67%;
	background-size: cover;
	margin-bottom: 20px;

	@include mq($until: mobile) { /*  320px */
		background-image: url("<%= path %>/assets/morwell/morwell_1_5.jpg");
	}

	@include mq($from: mobile, $until: mobileLandscape) { /*  480px */
		background-image: url("<%= path %>/assets/morwell/morwell_1_5.jpg");
	}

	@include mq($from: mobileLandscape, $until: tablet) { /*  740px */
		background-image: url("<%= path %>/assets/morwell/morwell_1_5.jpg");
	}

	@include mq($from: tablet, $until: desktop) { /*  980px */
		background-image: url("<%= path %>/assets/morwell/morwell_1_5.jpg");
	}

	@include mq($from: desktop, $until: wide) { /*  1300px */
		background-image: url("<%= path %>/assets/morwell/morwell_1_5.jpg");
	}

	@include mq($from: wide) { /*  1300px and wider */
		background-image: url("<%= path %>/assets/morwell/morwell_1_5.jpg");
	}

}

.morwell_1_1 {

	@include mq($until: mobileLandscape) { /*  480px */
		background-position: 40% bottom;
	}

}

.brunswick_1_1 {

	background-size: cover;
	margin-bottom: 20px;

	@include mq($until: mobile) { /*  320px */
		background-image: url("<%= path %>/assets/brunswick/brunswick_1_1_320.jpg");
	}

	@include mq($from: mobile, $until: mobileLandscape) { /*  480px */
		background-image: url("<%= path %>/assets/brunswick/brunswick_1_1_480.jpg");
	}

	@include mq($from: mobileLandscape, $until: tablet) { /*  740px */
		background-image: url("<%= path %>/assets/brunswick/brunswick_1_1_740.jpg");
	}

	@include mq($from: tablet, $until: desktop) { /*  980px */
		background-image: url("<%= path %>/assets/brunswick/brunswick_1_1_980.jpg");
	}

	@include mq($from: desktop, $until: wide) { /*  1300px */
		background-image: url("<%= path %>/assets/brunswick/brunswick_1_1.jpg");
	}

	@include mq($from: wide) { /*  1300px and wider */
		background-image: url("<%= path %>/assets/brunswick/brunswick_1_1.jpg");
	}

}

.brunswick_1_2 {

	width: 100%;
	height: 0px;
	padding-bottom: 67%;
	background-size: cover;
	margin-bottom: 20px;

	@include mq($until: mobile) { /*  320px */
		background-image: url("<%= path %>/assets/brunswick/brunswick_1_2_320.jpg");
	}

	@include mq($from: mobile, $until: mobileLandscape) { /*  480px */
		background-image: url("<%= path %>/assets/brunswick/brunswick_1_2_480.jpg");
	}

	@include mq($from: mobileLandscape, $until: tablet) { /*  740px */
		background-image: url("<%= path %>/assets/brunswick/brunswick_1_2_740.jpg");
	}

	@include mq($from: tablet, $until: desktop) { /*  980px */
		background-image: url("<%= path %>/assets/brunswick/brunswick_1_2_980.jpg");
	}

	@include mq($from: desktop, $until: wide) { /*  1300px */
		background-image: url("<%= path %>/assets/brunswick/brunswick_1_2.jpg");
	}

	@include mq($from: wide) { /*  1300px and wider */
		background-image: url("<%= path %>/assets/brunswick/brunswick_1_2.jpg");
	}

}

.brunswick_1_3 {

	width: 100%;
	height: 0px;
	padding-bottom: 67%;
	background-size: cover;
	margin-bottom: 20px;

	@include mq($until: mobile) { /*  320px */
		background-image: url("<%= path %>/assets/brunswick/brunswick_1_3_320.jpg");
	}

	@include mq($from: mobile, $until: mobileLandscape) { /*  480px */
		background-image: url("<%= path %>/assets/brunswick/brunswick_1_3_480.jpg");
	}

	@include mq($from: mobileLandscape, $until: tablet) { /*  740px */
		background-image: url("<%= path %>/assets/brunswick/brunswick_1_3.jpg");
	}

	@include mq($from: tablet, $until: desktop) { /*  980px */
		background-image: url("<%= path %>/assets/brunswick/brunswick_1_3.jpg");
	}

	@include mq($from: desktop, $until: wide) { /*  1300px */
		background-image: url("<%= path %>/assets/brunswick/brunswick_1_3.jpg");
	}

	@include mq($from: wide) { /*  1300px and wider */
		background-image: url("<%= path %>/assets/brunswick/brunswick_1_3.jpg");
	}

}

.brunswick_1_4 {

	width: 100%;
	height: 0px;
	padding-bottom: 67%;
	background-size: cover;
	margin-bottom: 20px;

	@include mq($until: mobile) { /*  320px */
		background-image: url("<%= path %>/assets/brunswick/brunswick_1_4_320.jpg");
	}

	@include mq($from: mobile, $until: mobileLandscape) { /*  480px */
		background-image: url("<%= path %>/assets/brunswick/brunswick_1_4_480.jpg");
	}

	@include mq($from: mobileLandscape, $until: tablet) { /*  740px */
		background-image: url("<%= path %>/assets/brunswick/brunswick_1_4_740.jpg");
	}

	@include mq($from: tablet, $until: desktop) { /*  980px */
		background-image: url("<%= path %>/assets/brunswick/brunswick_1_4_980.jpg");
	}

	@include mq($from: desktop, $until: wide) { /*  1300px */
		background-image: url("<%= path %>/assets/brunswick/brunswick_1_4.jpg");
	}

	@include mq($from: wide) { /*  1300px and wider */
		background-image: url("<%= path %>/assets/brunswick/brunswick_1_4.jpg");
	}

}

.brunswick_1_5 {

	width: 100%;
	height: 0px;
	padding-bottom: 67%;
	background-size: cover;
	margin-bottom: 20px;

	@include mq($until: mobile) { /*  320px */
		background-image: url("<%= path %>/assets/brunswick/brunswick_1_5_320.jpg");
	}

	@include mq($from: mobile, $until: mobileLandscape) { /*  480px */
		background-image: url("<%= path %>/assets/brunswick/brunswick_1_5_480.jpg");
	}

	@include mq($from: mobileLandscape, $until: tablet) { /*  740px */
		background-image: url("<%= path %>/assets/brunswick/brunswick_1_5.jpg");
	}

	@include mq($from: tablet, $until: desktop) { /*  980px */
		background-image: url("<%= path %>/assets/brunswick/brunswick_1_5.jpg");
	}

	@include mq($from: desktop, $until: wide) { /*  1300px */
		background-image: url("<%= path %>/assets/brunswick/brunswick_1_5.jpg");
	}

	@include mq($from: wide) { /*  1300px and wider */
		background-image: url("<%= path %>/assets/brunswick/brunswick_1_5.jpg");
	}

}

.brunswick_1_6 {

	width: 100%;
	height: 0px;
	padding-bottom: 67%;
	background-size: cover;
	margin-bottom: 20px;

	@include mq($until: mobile) { /*  320px */
		background-image: url("<%= path %>/assets/brunswick/brunswick_1_6_320.jpg");
	}

	@include mq($from: mobile, $until: mobileLandscape) { /*  480px */
		background-image: url("<%= path %>/assets/brunswick/brunswick_1_6_480.jpg");
	}

	@include mq($from: mobileLandscape, $until: tablet) { /*  740px */
		background-image: url("<%= path %>/assets/brunswick/brunswick_1_6_740.jpg");
	}

	@include mq($from: tablet, $until: desktop) { /*  980px */
		background-image: url("<%= path %>/assets/brunswick/brunswick_1_6_980.jpg");
	}

	@include mq($from: desktop, $until: wide) { /*  1300px */
		background-image: url("<%= path %>/assets/brunswick/brunswick_1_6.jpg");
	}

	@include mq($from: wide) { /*  1300px and wider */
		background-image: url("<%= path %>/assets/brunswick/brunswick_1_6.jpg");
	}

}

.cranbourne_1_1 {

	background-size: cover;
	margin-bottom: 20px;

	@include mq($until: mobile) { /*  320px */
		background-image: url("<%= path %>/assets/cranbourne/cranbourne_1_1_320.jpg");
	}

	@include mq($from: mobile, $until: mobileLandscape) { /*  480px */
		background-image: url("<%= path %>/assets/cranbourne/cranbourne_1_1_480.jpg");
	}

	@include mq($from: mobileLandscape, $until: tablet) { /*  740px */
		background-image: url("<%= path %>/assets/cranbourne/cranbourne_1_1_740.jpg");
	}

	@include mq($from: tablet, $until: desktop) { /*  980px */
		background-image: url("<%= path %>/assets/cranbourne/cranbourne_1_1_980.jpg");
	}

	@include mq($from: desktop, $until: wide) { /*  1300px */
		background-image: url("<%= path %>/assets/cranbourne/cranbourne_1_1_1300.jpg");
	}

	@include mq($from: wide) { /*  1300px and wider */
		background-image: url("<%= path %>/assets/cranbourne/cranbourne_1_1.jpg");
	}

}

.cranbourne_1_2 {

	width: 100%;
	height: 0px;
	padding-bottom: 67%;
	background-size: cover;
	margin-bottom: 20px;

	@include mq($until: mobile) { /*  320px */
		background-image: url("<%= path %>/assets/cranbourne/cranbourne_1_2_320.jpg");
	}

	@include mq($from: mobile, $until: mobileLandscape) { /*  480px */
		background-image: url("<%= path %>/assets/cranbourne/cranbourne_1_2_480.jpg");
	}

	@include mq($from: mobileLandscape, $until: tablet) { /*  740px */
		background-image: url("<%= path %>/assets/cranbourne/cranbourne_1_2_740.jpg");
	}

	@include mq($from: tablet, $until: desktop) { /*  980px */
		background-image: url("<%= path %>/assets/cranbourne/cranbourne_1_2_980.jpg");
	}

	@include mq($from: desktop, $until: wide) { /*  1300px */
		background-image: url("<%= path %>/assets/cranbourne/cranbourne_1_2.jpg");
	}

	@include mq($from: wide) { /*  1300px and wider */
		background-image: url("<%= path %>/assets/cranbourne/cranbourne_1_2.jpg");
	}

}

.cranbourne_1_3 {

	width: 100%;
	height: 0px;
	padding-bottom: 67%;
	background-size: cover;
	margin-bottom: 20px;

	@include mq($until: mobile) { /*  320px */
		background-image: url("<%= path %>/assets/cranbourne/cranbourne_1_3_320.jpg");
	}

	@include mq($from: mobile, $until: mobileLandscape) { /*  480px */
		background-image: url("<%= path %>/assets/cranbourne/cranbourne_1_3_480.jpg");
	}

	@include mq($from: mobileLandscape, $until: tablet) { /*  740px */
		background-image: url("<%= path %>/assets/cranbourne/cranbourne_1_3.jpg");
	}

	@include mq($from: tablet, $until: desktop) { /*  980px */
		background-image: url("<%= path %>/assets/cranbourne/cranbourne_1_3.jpg");
	}

	@include mq($from: desktop, $until: wide) { /*  1300px */
		background-image: url("<%= path %>/assets/cranbourne/cranbourne_1_3.jpg");
	}

	@include mq($from: wide) { /*  1300px and wider */
		background-image: url("<%= path %>/assets/cranbourne/cranbourne_1_3.jpg");
	}

}

.cranbourne_1_4 {

	width: 100%;
	height: 0px;
	padding-bottom: 67%;
	background-size: cover;
	margin-bottom: 20px;

	@include mq($until: mobile) { /*  320px */
		background-image: url("<%= path %>/assets/cranbourne/cranbourne_1_4_320.jpg");
	}

	@include mq($from: mobile, $until: mobileLandscape) { /*  480px */
		background-image: url("<%= path %>/assets/cranbourne/cranbourne_1_4_480.jpg");
	}

	@include mq($from: mobileLandscape, $until: tablet) { /*  740px */
		background-image: url("<%= path %>/assets/cranbourne/cranbourne_1_4_740.jpg");
	}

	@include mq($from: tablet, $until: desktop) { /*  980px */
		background-image: url("<%= path %>/assets/cranbourne/cranbourne_1_4_980.jpg");
	}

	@include mq($from: desktop, $until: wide) { /*  1300px */
		background-image: url("<%= path %>/assets/cranbourne/cranbourne_1_4.jpg");
	}

	@include mq($from: wide) { /*  1300px and wider */
		background-image: url("<%= path %>/assets/cranbourne/cranbourne_1_4.jpg");
	}

}

.cranbourne_1_5 {

	width: 100%;
	height: 0px;
	padding-bottom: 67%;
	background-size: cover;
	margin-bottom: 20px;

	@include mq($until: mobile) { /*  320px */
		background-image: url("<%= path %>/assets/cranbourne/cranbourne_1_5_320.jpg");
	}

	@include mq($from: mobile, $until: mobileLandscape) { /*  480px */
		background-image: url("<%= path %>/assets/cranbourne/cranbourne_1_5_480.jpg");
	}

	@include mq($from: mobileLandscape, $until: tablet) { /*  740px */
		background-image: url("<%= path %>/assets/cranbourne/cranbourne_1_5.jpg");
	}

	@include mq($from: tablet, $until: desktop) { /*  980px */
		background-image: url("<%= path %>/assets/cranbourne/cranbourne_1_5.jpg");
	}

	@include mq($from: desktop, $until: wide) { /*  1300px */
		background-image: url("<%= path %>/assets/cranbourne/cranbourne_1_5.jpg");
	}

	@include mq($from: wide) { /*  1300px and wider */
		background-image: url("<%= path %>/assets/cranbourne/cranbourne_1_5.jpg");
	}

}

.cranbourne_1_6 {

	width: 100%;
	height: 0px;
	padding-bottom: 67%;
	background-size: cover;
	margin-bottom: 20px;

	@include mq($until: mobile) { /*  320px */
		background-image: url("<%= path %>/assets/cranbourne/cranbourne_1_6_320.jpg");
	}

	@include mq($from: mobile, $until: mobileLandscape) { /*  480px */
		background-image: url("<%= path %>/assets/cranbourne/cranbourne_1_6_480.jpg");
	}

	@include mq($from: mobileLandscape, $until: tablet) { /*  740px */
		background-image: url("<%= path %>/assets/cranbourne/cranbourne_1_6_740.jpg");
	}

	@include mq($from: tablet, $until: desktop) { /*  980px */
		background-image: url("<%= path %>/assets/cranbourne/cranbourne_1_6.jpg");
	}

	@include mq($from: desktop, $until: wide) { /*  1300px */
		background-image: url("<%= path %>/assets/cranbourne/cranbourne_1_6.jpg");
	}

	@include mq($from: wide) { /*  1300px and wider */
		background-image: url("<%= path %>/assets/cranbourne/cranbourne_1_6.jpg");
	}

}

.cranbourne_1_7 {

	width: 100%;
	height: 0px;
	padding-bottom: 67%;
	background-size: cover;
	margin-bottom: 20px;

	@include mq($until: mobile) { /*  320px */
		background-image: url("<%= path %>/assets/cranbourne/cranbourne_1_7_320.jpg");
	}

	@include mq($from: mobile, $until: mobileLandscape) { /*  480px */
		background-image: url("<%= path %>/assets/cranbourne/cranbourne_1_7_480.jpg");
	}

	@include mq($from: mobileLandscape, $until: tablet) { /*  740px */
		background-image: url("<%= path %>/assets/cranbourne/cranbourne_1_7.jpg");
	}

	@include mq($from: tablet, $until: desktop) { /*  980px */
		background-image: url("<%= path %>/assets/cranbourne/cranbourne_1_7.jpg");
	}

	@include mq($from: desktop, $until: wide) { /*  1300px */
		background-image: url("<%= path %>/assets/cranbourne/cranbourne_1_7.jpg");
	}

	@include mq($from: wide) { /*  1300px and wider */
		background-image: url("<%= path %>/assets/cranbourne/cranbourne_1_7.jpg");
	}

}




